.mt-25{
    margin-top: 25px;
}
.mt-15{
    margin-top: 15px !important;
}
.mt-10{
    margin-top: 10px !important;
}
.mt-45{
    margin-top: 45px !important;
}
.mb-25{
    margin-bottom: 25px !important;
}
.m-auto{
    margin: auto !important;
}