.pt-10{
    padding-top:10px !important;
    --padding-top: 10px !important;
}
.pt-15{
    padding-top:15px !important;
    --padding-top: 15px !important;
}
.pr-30{
    padding-right: 30px !important;
    --padding-end: 30px !important;
}
.pl-30{
    padding-left: 30px !important;
    --padding-start: 30px !important;
}
.px-35{
    padding-left: 35px !important;
    --padding-start: 35px !important;
    padding-right: 35px !important;
    --padding-end: 35px !important;
}

.px-10{
    padding-right: 10px !important;
    padding-left: 10px !important;
    --padding-start: 10px !important;
    --padding-end: 10px !important;
}
.pt-25{
    padding-top: 25px !important;
    --padding-top: 25px !important;
}
.py-15{
    padding-top: 15px !important;
    --padding-top: 15px !important;
    padding-bottom: 15px !important;
    --padding-bottom: 15px !important;
}
.px-50{
    padding-left: 50px !important;
    padding-right: 50px !important;
    --padding-start: 50px !important;
    --padding-end: 50px !important;
}
.px-25{
    padding-left: 25px !important;
    padding-right: 25px !important;
    --padding-start: 25px !important;
    --padding-end: 25px !important;
}
.pl-25{
    padding-left: 25px;
    --padding-start: 25px;
}
.pl-20{
    padding-left: 20px;
    --padding-start: 20px;
}
.pb-60{
    padding-bottom: 60px;
    --padding-bottom: 60px;
}
.pr-10{
    padding-right: 10px;
    --padding-end: 10px;
}