*{
    font-family: 'DM Sans', sans-serif !important;
}
/*height width*/
.h-100{
    height: 100% !important;
}
.h-44{
    height: 44px !important;
}
/*typography*/
.weight-bold{
    font-weight: 700 !important;
}
.header{
    --ion-background-color: #eaefff;
}
.custom-avatar{
    z-index: 999;
    height: 4vh;
}
.custom-image-avatar{
    background-color: #ffffff !important;
    width: 80px !important;
    height: 80px !important;
}
.custom-row-background{
    background-color: #eaefff  ;
}
.custom-col-background{
    background-color: #ffffff;
}
.custom-col{
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}
.custom-Input{
    --ion-background-color: #F4F5F7 !important;
    --border-radius:15px !important;
    --show-full-highlight: 0 !important;
    --border-width:0 !important;
    margin-top: 10px;
}
.custom-padding{
    padding-top: 46px;
}

.custom-button{
    --border-radius:15px !important;
    --background:#FEC42D !important;
    height: 44px;
}
.custom-input-padding{
    padding-bottom: 30px;
    padding-left: 35px;
    padding-right: 35px;
}
.custom-multi-input{
    background-color: #eaefff;
    width: 65px !important;
    height: 65px !important;
    border-radius: 15px;
    margin: auto;
}
.bachground{
    --background: url("../assets/image/image_5.png") no-repeat center center / cover !important;
}


/* remove border button */
.remove-shadow{
    --box-shadow:none !important;
}

/* padding ion list */

.custom-margin-list{
    margin-top: 80px !important;
}

/* custom input for multi input */
.custom-input-size{
    font-size: 30px;
    --padding-top:20px !important;
    width: 40px;
    margin: auto !important;
}

/* custom title */
.title{
    font-style: normal;
    font-weight: 700 !important;
    line-height: 31px !important;
}
/* remove underline a tag */
.custom-aTag{
    text-decoration: none !important;
}
/* custom avatar for list */
.custom-avatar-list{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 13px;
}
.custom-card-list{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-item-list{
    font-size: 12px;
    line-height: 26px;
}
.custom-subtitle-item{
    text-shadow: 0px 2px 5px #FFC400;
    color: #FEC42D;
}
.custom-line{
    background: #F4F5F7;
}
/*custom box*/
.custom-box{
    width: 45px;
    height: 45px;
    background: #F7931A;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}